{% extends 'base.html' %}
{% load static %}
{%block body %}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="well profile">

                		<div class="profile-userpic">
                		<img  alt="{{user.profile.image.url }}" width="180px" height="180px" src="{{ user.profile.image.url }}"  alt="">
                		</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        <strong>{{user.username}}</strong>
                                    </h5>

                                    <strong><p class="text-secondary">{{ user.email }}</p> </strong>


                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'post-user' user %}">Timeline</a>
                                    <!-- <a class="nav-link" id="profile-tab" data-toggle="tab" href="{% url 'post-user' user %}" role="tab" aria-controls="profile" aria-selected="false">Timeline</a> -->
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.username }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.email }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>First Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.first_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Last Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.last_name }}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nick Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.profile.nick_name }}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Public Info</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.profile.public_info }}</p>
                                            </div>
                                        </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}
